.game{
    display: grid;
    grid-template-columns: repeat(6,80px);
    grid-template-rows: repeat(6,80px);
    gap: 3px;
    margin-top: 4%;
    margin-left: 7%;
}

.grid {
    border: 1px solid black;
    display: flex;
    align-items: center;
}
.game-name{
    margin-left: 7%;
}